
<!-- <h1>Title: {{title}}</h1>
<h4>Year:{{year}}</h4>
<h4>Summary:{{summary}}</h4> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div  class="container mt-6" enctype="multipart/form-data" style="margin-top: 100px;">
        <form action="" method="post" >
            {% csrf_token %}
            {{frm.as_p}}

            <!-- Title: <input type="text" name="title">
            Year: <input type="text" name="year">
            summary: <input type="text" name="summary"> -->
            <button  style="float: left; margin-right: 20px;" type="submit" class="btn btn-success" style="margin-top: 10px;">Create</button>
        </form>
        <div >
            <a href="{%url 'list_path' %}"><button class="btn btn-info">List</button></a>

        </div>
    </div>
    
    
</body>
</html>